# Python related
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Virtual environment
env/
*.venv/
.venv/
venv/

# Flask specific
instance/

# Development tools
*.pot
*.cache/
*.pytest_cache/

# IDEs and editors
*.idea/
.vscode/
*.swp
*.swo
*.swn
*.log

# Operating systems
.DS_Store
Thumbs.db
Desktop.ini
*.db

# Directories to ignore (replace 'node_modules' if using a different package manager)
node_modules/

# Databases
*.sqlite
