{% extends 'base.html' %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block body %}
<form method="post" action="/">
    <input type="text" name="habit" required autocomplete="off">
    <button type="submit">Add Habit</button>
</form>

<ul>
    {% for habit in habits %}
    <li>
        {{ habit.title }} - Completed {{ habit.completion_count() }} times
        <!-- Button for checking off habit -->
        <a href="{{ url_for('checkoff', habit_id=habit.id) }}">Check Off Today</a>
        <!-- Delete habit -->
        <a href="{{ url_for('delete', id=habit.id)}}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}